@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Itim&display=swap');

*{
    font-family: "Itim", sans-serif;
}

.btn1, .btn2 {
    width: 162px;
    height: 48px;
}

.btn1{
    outline: none;
    background: #fff;
    color: #007716;
    border: 2px solid #007716;
}

.btn2{
    outline: none;
    border: none !important;
    color: #fff !important;
    background: linear-gradient(to right, #007716, #FFFA00);
}

main {
    background-image: url(./images/aboutpg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    position: relative;
}

.imgmain img{
    height: 800px;
    position: absolute;
    right: 150px;
}

.maintext{
    position: absolute;
    right: 320px;
    bottom: 250px;
}

.maintext h1{
    font-size: 56px;
    color: #fff;
}

.green {
    background-color: #007716;
    width: 90%;
    height: auto;
    
}

.state, .state1 {
    height: 750px;
}

.txtp{
    color: #007716;
}

.services{
    height: auto;
    width: 100%;
    background-color: #F9F7F8;
}

.read{
    text-decoration: none;
    color: #007716;
}

footer{
    background-color: #0D093B;
    color: #fff;
    margin-top: -10px;
}

footer a {
    text-decoration: none;
}

.ftimg img {
    width: 100%;
}

@media screen and (max-width: 600px){
    .reall{
    margin-bottom: 150px;
   }

   main{
    height: 600px;
    padding-top: 150px;
   }

   .imgmain{
    display: none;
   }

   .maintext{
    position: static;
    text-align: center;
    color: black;
   }

   .maintext h1{
    font-size: 30px;
    color: black;
   }

   .maintext p{
    color: black !important;
   }
   br{
    display: none;
   }

   .stateimg1 img {
    width: 100%;
   }

   .stateimg{
    position: static;
    width: 100%;
    margin-top: 400px;
    padding: 0px;
   }

   .stateimg img, .stateimg2 img{
    width: 100%;
   }

   .state1{
    margin-top: 300px;
    margin-bottom: 200px;
   }

   .statetext{
    position: static;
    margin-top: 300px;
   }

   .stateimg2 {
    margin-top: -100px;
    padding: 0px;
   }
   
}

@media screen and (max-width: 900px){
     .reall{
    margin-bottom: 150px;
   }
}
